* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #CCC;
}

.container {
    background-color: #f2f2f2;
    width: 90vw;
    height: 95vh;
    border-radius: 10px;
    overflow: hidden;
    
    margin: 15px auto;
    display: flex;
}

.container aside, .container main {
    width: 45vw;
}

.container aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #323131;
}

.fa-github {
    font-size: 80px;
    text-align: center;
    color: #f2f2f2;
}

h1.search-title {
    font-size: 36px;
    text-align: center;
    color: #f2f2f2;
}

h2.search-subtitle {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    padding-bottom: 10px;
    color: #e2e2e2;
}

.container main {
    overflow-y: scroll;
    padding-left: 15px;
}

.profile {
    margin: 15px 0;
}
.busca {
    display: flex;
    justify-content: center;
    align-items: center;
}

.busca input {
    border: none;
    outline: none;
    height: 28px;
    font-size: 16px;
}

.busca .input-text {
    background-color: #fcfcfc;
    border-radius: 7px 0 0 7px;
    padding: 0 0 0 10px;
}

.busca .input-button {
    background-color: #4f4f4f;
    border-radius: 0 7px 7px 0;
    padding: 2px 5px;
    font-weight: 600;
    color: #f5f5f5;
}

.profile {
    display: flex;
    align-items: center;
    
}

.photo img {
    border-radius: 50%;
    width: 90px;
}

.info-profile h1, .info-profile h2 {
    margin-left: 10px;
}

.info-profile h1 {
    font-size: 26px;
}

.info-profile h2 {
    font-size: 16px;
    font-style: italic;
}

/* vem junto a requisicao de api*/
.title-repos {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.div-repository {
    margin-bottom: 12px;
}