* {
    margin: 0;
    padding: 0;
    box-sizing: 0;

    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 10px 5px;
}

.profile {
    display: flex;
    align-items: center;
    
}

.photo img {
    border-radius: 50%;
    width: 90px;
}

.info-profile h1, .info-profile h2 {
    margin-left: 10px;
}

.info-profile h1 {
    font-size: 26px;
}

.info-profile h2 {
    font-size: 16px;
    font-style: italic;
}

.title-repos {
    font-size: 24px;
}